flows.json
[
    {
        "id": "ca7c14a3d1011380",
        "type": "tab",
        "label": "Flow 6",
        "disabled": false,
        "info": ""
    },
    {
        "id": "908cce8df417a80f",
        "type": "mqtt in",
        "z": "ca7c14a3d1011380",
        "name": "",
        "topic": "Temp",
        "qos": "2",
        "datatype": "auto",
        "broker": "0f64b10e24764197",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 190,
        "y": 180,
        "wires": [
            [
                "b3c976691a28f880"
            ]
        ]
    },
    {
        "id": "b3c976691a28f880",
        "type": "debug",
        "z": "ca7c14a3d1011380",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 180,
        "wires": []
    },
    {
        "id": "707147a41e59ad3e",
        "type": "aedes broker",
        "z": "ca7c14a3d1011380",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 360,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "0f64b10e24764197",
        "type": "mqtt-broker",
        "name": "Broker Local",
        "broker": "192.168.1.38",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]