flows.json
[
    {
        "id": "ca7c14a3d1011380",
        "type": "tab",
        "label": "Flow 6",
        "disabled": false,
        "info": ""
    },
    {
        "id": "908cce8df417a80f",
        "type": "mqtt in",
        "z": "ca7c14a3d1011380",
        "name": "",
        "topic": "Temp",
        "qos": "2",
        "datatype": "auto",
        "broker": "0f64b10e24764197",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 190,
        "y": 180,
        "wires": [
            [
                "9966ccfa7cd738d1"
            ]
        ]
    },
    {
        "id": "b3c976691a28f880",
        "type": "debug",
        "z": "ca7c14a3d1011380",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 180,
        "wires": []
    },
    {
        "id": "707147a41e59ad3e",
        "type": "aedes broker",
        "z": "ca7c14a3d1011380",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 390,
        "y": 400,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d6bc23c1d3ecd2b9",
        "type": "function",
        "z": "ca7c14a3d1011380",
        "name": "",
        "func": "var otrmsg={ topic: \"INSERT INTO sensor_uno(estado,temperatura) VALUES(\\\"\"+msg.payload.topico1 + \"\\\",\" + msg.payload.topico2 + \");\"};\n\nreturn otrmsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 180,
        "wires": [
            [
                "b3c976691a28f880",
                "6ab55ea3e51a343b"
            ]
        ]
    },
    {
        "id": "6ab55ea3e51a343b",
        "type": "mysql",
        "z": "ca7c14a3d1011380",
        "mydb": "358c032895ce0bec",
        "name": "",
        "x": 750,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "9966ccfa7cd738d1",
        "type": "json",
        "z": "ca7c14a3d1011380",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 180,
        "wires": [
            [
                "d6bc23c1d3ecd2b9"
            ]
        ]
    },
    {
        "id": "0f64b10e24764197",
        "type": "mqtt-broker",
        "name": "Broker Local",
        "broker": "10.20.0.39",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "358c032895ce0bec",
        "type": "MySQLdatabase",
        "name": "GRUPO4IOT",
        "host": "localhost",
        "port": "3306",
        "db": "GRUPO4IOT",
        "tz": "-3",
        "charset": "UTF8"
    }
]